<% provide(:title, "Files") %>
<div class="row">
  <div class="col-sm-8">
    <h1>Files</h1>
  </div>
  <div class="col-sm-4">
    <%= link_to 'New File upload', new_file_upload_path, class: 'btn btn-primary pull-right' %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>File name</th>
      <th>Size</th>
      <th>Created</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @file_uploads.each do |file_upload| %>
      <tr>
        <td><%= file_upload.file_name %></td>
        <td><%= number_to_human_size(file_upload.size) %></td>
        <td><%= time_ago_in_words(file_upload.created_at) %> ago</td>
        <td><%= link_to 'Show', file_upload %></td>
        <td><%= link_to 'Destroy', file_upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

